In [79]:
import pandas as pd
import numpy as np

In [80]:
df=pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [82]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [83]:
#separating dependent and independent variables
x=df.iloc[:,:-1]
y=df.iloc[:,-1:]

In [84]:
x.shape,y.shape

((50, 4), (50, 1))

In [85]:
x

    R&D Spend  Administration  Marketing Spend       State
0   165349.20       136897.80        471784.10    New York
1   162597.70       151377.59        443898.53  California
2   153441.51       101145.55        407934.54     Florida
3   144372.41       118671.85        383199.62    New York
4   142107.34        91391.77        366168.42     Florida
5   131876.90        99814.71        362861.36    New York
6   134615.46       147198.87        127716.82  California
7   130298.13       145530.06        323876.68     Florida
8   120542.52       148718.95        311613.29    New York
9   123334.88       108679.17        304981.62  California
10  101913.08       110594.11        229160.95     Florida
11  100671.96        91790.61        249744.55  California
12   93863.75       127320.38        249839.44     Florida
13   91992.39       135495.07        252664.93  California
14  119943.24       156547.42        256512.92     Florida
15  114523.61       122616.84        261776.23    New York
16   78013.11       121597.55        264346.06  California
17   94657.16       145077.58        282574.31    New York
18   91749.16       114175.79        294919.57     Florida
19   86419.70       153514.11             0.00    New York
20   76253.86       113867.30        298664.47  California
21   78389.47       153773.43        299737.29    New York
22   73994.56       122782.75        303319.26     Florida
23   67532.53       105751.03        304768.73     Florida
24   77044.01        99281.34        140574.81    New York
25   64664.71       139553.16        137962.62  California
26   75328.87       144135.98        134050.07     Florida
27   72107.60       127864.55        353183.81    New York
28   66051.52       182645.56        118148.20     Florida
29   65605.48       153032.06        107138.38    New York
30   61994.48       115641.28         91131.24     Florida
31   61136.38       152701.92         88218.23    New York
32   63408.86       129219.61         46085.25  California
33   55493.95       103057.49        214634.81     Florida
34   46426.07       157693.92        210797.67  California
35   46014.02        85047.44        205517.64    New York
36   28663.76       127056.21        201126.82     Florida
37   44069.95        51283.14        197029.42  California
38   20229.59        65947.93        185265.10    New York
39   38558.51        82982.09        174999.30  California
40   28754.33       118546.05        172795.67  California
41   27892.92        84710.77        164470.71     Florida
42   23640.93        96189.63        148001.11  California
43   15505.73       127382.30         35534.17    New York
44   22177.74       154806.14         28334.72  California
45    1000.23       124153.04          1903.93    New York
46    1315.46       115816.21        297114.46     Florida
47       0.00       135426.92             0.00  California
48     542.05        51743.15             0.00    New York
49       0.00       116983.80         45173.06  California

In [86]:
y

       Profit
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65
15  129917.04
16  126992.93
17  125370.37
18  124266.90
19  122776.86
20  118474.03
21  111313.02
22  110352.25
23  108733.99
24  108552.04
25  107404.34
26  105733.54
27  105008.31
28  103282.38
29  101004.64
30   99937.59
31   97483.56
32   97427.84
33   96778.92
34   96712.80
35   96479.51
36   90708.19
37   89949.14
38   81229.06
39   81005.76
40   78239.91
41   77798.83
42   71498.49
43   69758.98
44   65200.33
45   64926.08
46   49490.75
47   42559.73
48   35673.41
49   14681.40

In [87]:
states=pd.get_dummies(x['State'],dtype='float')
X=x.drop('State',axis=1)
X=pd.concat([X,states],axis=1)
X.head()

   R&D Spend  Administration  Marketing Spend  California  Florida  New York
0  165349.20       136897.80        471784.10         0.0      0.0       1.0
1  162597.70       151377.59        443898.53         1.0      0.0       0.0
2  153441.51       101145.55        407934.54         0.0      1.0       0.0
3  144372.41       118671.85        383199.62         0.0      0.0       1.0
4  142107.34        91391.77        366168.42         0.0      1.0       0.0

In [88]:
#splitting the data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((40, 6), (10, 6), (40, 1), (10, 1))

In [89]:
#fitting to our MLR model to the training set
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [90]:
y_pred=mlr.predict(x_test)
x_pred=mlr.predict(x_train)

In [91]:
y_pred

array([[ 98001.36471562],
       [ 99159.57740661],
       [109405.69155356],
       [ 87191.17894278],
       [115140.02308031],
       [109644.28105854],
       [ 54887.4187771 ],
       [180520.32138081],
       [127956.70313926],
       [157568.48725471]])

In [92]:
y_test

       Profit
33   96778.92
31   97483.56
23  108733.99
34   96712.80
27  105008.31
26  105733.54
48   35673.41
2   191050.39
12  141585.52
7   155752.60

In [93]:
mlr.score(x_train,y_train)

0.9499092920182282

In [94]:
mlr.score(x_test,y_test)

0.9434976044835703

In [95]:
from sklearn.metrics import r2_score #using r2 score
print('Testing accuracy: ',r2_score(y_test,y_pred))
print('Training accuracy: ',r2_score(y_train,x_pred))

Testing accuracy:  0.9434976044835703
Training accuracy:  0.9499092920182282

In [96]:
#trying to get good accuracy

In [97]:
x= df.drop('Profit', axis=1)
Y = df['Profit']

In [98]:
#remove one column from dummi variebles then find accuracy
states=pd.get_dummies(x['State'],dtype='float',drop_first=True)
X=x.drop('State',axis=1)
X=pd.concat([X,states],axis=1)
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10      0.0       1.0
1  162597.70       151377.59        443898.53      0.0       0.0
2  153441.51       101145.55        407934.54      1.0       0.0
3  144372.41       118671.85        383199.62      0.0       1.0
4  142107.34        91391.77        366168.42      1.0       0.0

In [99]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((40, 5), (10, 5), (40, 1), (10, 1))

In [100]:
mlr=LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [101]:
y_pred=mlr.predict(x_test)
x_pred=mlr.predict(x_train)

In [102]:
print('Testing accuracy: ',r2_score(y_test,y_pred))
print('Training accuracy: ',r2_score(y_train,x_pred))

Testing accuracy:  0.9311356514925109
Training accuracy:  0.9536127799464129

In [103]:
#this is also showing the same accuracy

### apply one hot encoding and find accuracy

In [104]:
#encodeing(one hot encoder)
from sklearn.preprocessing import OneHotEncoder

In [105]:
X = df.drop('Profit', axis=1)
Y = df['Profit']

In [106]:
encoder = OneHotEncoder(drop='first')
X_encoded = encoder.fit_transform(X[['State']]).toarray()
state_encoded_cols = ['Florida','NewYork']
X_encoded = pd.DataFrame(X_encoded, columns=state_encoded_cols)
X.drop(['State'], axis=1, inplace=True)
X = pd.concat([X, X_encoded], axis=1)

In [107]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  NewYork
0  165349.20       136897.80        471784.10      0.0      1.0
1  162597.70       151377.59        443898.53      0.0      0.0
2  153441.51       101145.55        407934.54      1.0      0.0
3  144372.41       118671.85        383199.62      0.0      1.0
4  142107.34        91391.77        366168.42      1.0      0.0

In [108]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((40, 5), (10, 5), (40, 1), (10, 1))

In [109]:
mlr=LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [110]:
print('Testing accuracy: ',r2_score(y_test,y_pred))
print('Training accuracy: ',r2_score(y_train,x_pred))

Testing accuracy:  -0.7358250926243293
Training accuracy:  -0.6223023504649785